# Python caches
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specifics
*.vak.bak
vak_website/
*.py.bak

# OS specifics
.DS_Store
Thumbs.db
GENESIS_RECORD.md
